[submodule "proj/abra"]
	path = proj/abra
	url = ssh://git@github.com/pineman/abra.git
	branch = master
[submodule "proj/blackjack"]
	path = proj/blackjack
	url = ssh://git@github.com/pineman/blackjack.git
	branch = master
[submodule "proj/wordmorph"]
	path = proj/wordmorph
	url = ssh://git@github.com/pineman/wordmorph.git
	branch = master
[submodule "proj/wordfind"]
	path = proj/wordfind
	url = ssh://git@github.com/pineman/wordfind.git
	branch = master
[submodule "proj/LEDmatrix"]
	path = proj/LEDmatrix
	url = ssh://git@github.com/hackerschool/ledmatrix.git
	branch = master
[submodule "proj/r2p"]
	path = proj/r2p
	url = ssh://git@github.com/hackerschool/r2p.git
	branch = master
[submodule "proj/psis"]
	path = proj/psis
	url = git@github.com:pineman/psis
	branch = master
[submodule "old_proj/pyreplify"]
	path = old_proj/pyreplify
	url = git@github.com:pineman/pyreplify
	branch = master
[submodule "proj/homepage"]
	path = proj/homepage
	url = ssh://git@github.com/pineman/homepage.git
	branch = main
[submodule "proj/desu"]
	path = proj/desu
	url = ssh://git@github.com/pineman/desu.git
	branch = master
[submodule "git/gitignore"]
	path = git/gitignore
	url = https://github.com/github/gitignore
	branch = main
[submodule "proj/services"]
	path = proj/services
	url = git@github.com:pineman/services.git
	branch = main
[submodule "elixir/elixir-in-action"]
	path = elixir/elixir-in-action
	url = https://github.com/sasa1977/elixir-in-action
[submodule "elixir/demo_system"]
	path = elixir/demo_system
	url = https://github.com/sasa1977/demo_system
[submodule "elixir/elixir-workshop"]
	path = elixir/elixir-workshop
	url = https://github.com/dnlserrano/elixir-workshop
[submodule "elixir/aoc"]
	path = elixir/aoc
	url = https://github.com/sasa1977/aoc
[submodule "ruby/hello"]
	path = ruby/hello
	url = git@github.com:pineman/hello
	branch = main
[submodule "go/learn-go-with-tests"]
	path = go/learn-go-with-tests
	url = https://github.com/quii/learn-go-with-tests
[submodule "proj/boot2k8s/k3os"]
	path = proj/boot2k8s/k3os
	url = https://github.com/rancher/k3os
	branch = v0.20.x
[submodule "proj/ju"]
	path = proj/ju
	url = git@gitlab.com:pineman/ju.git
	branch = main
