<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>
		{{ include_raw('style.css') }}
		</style>
		<title>pineblog</title>
	</head>

	<body>
	<div id="site-container">
		<div id="header-and-content-wrap">
		<div id="header-container">
		<header>
			<div id="header-main">
			<div id="header-title">
				<a id="header-pineblog" href="/">
				<img id="header-title-pinecone" src="/static/assets/pinecone.jpg">
				pineblog</a>
				<p id="header-description">teen angst and general nonsense</p>
			</div>
			<hr />
			</div> <!-- header-main -->

			<div id="header-links">
			<ul>
				<li><a href="/about">about me</a></li>
			</ul>
			</div>

		</header>
		</div> <!-- header-container -->
		<content>
